version: "3.8"
services: 
    authdb:
        image: mcr.microsoft.com/mssql/server:2019-latest
    guidedb: 
        image: postgres
    reportdb: 
        image: postgres
    rabbitmq: 
        image: rabbitmq:3.8.14-management
    rabbitmqmass: 
        image: masstransit/rabbitmq
    guide.api:
        image: guide_image
        build: 
            context: .
            dockerfile: src/Microservices/Guide/TelephoneDirectory.Guide/Dockerfile
    report.api:
        image: report_image
        build: 
            context: .
            dockerfile: src/Microservices/Report/TelephoneDirectory.Report/Dockerfile
    auth.api:
        image: auth_image
        build: 
            context: .
            dockerfile: src/Microservices/Auth/TelephoneDirectory.Auth/Dockerfile

    gateway.api:
        image: gateway_api_image
        build: 
            context: .
            dockerfile: src/Global/Gateway.WebApi/Dockerfile
    pgAdmin4:
        image: dpage/pgadmin4
volumes: 
    authdb_volume:   
    